/* smartphone */

@media (min-width: 320px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(130, 136, 137);
    font-family: Optima;
    margin: 10px;
    padding: 0;
  }
  /*  Logo */
  img.echosmall {
    max-width: 70px;
    margin: 0%;
    padding: 0%;
    border: 0;
  }

  /* Homepage Img */
  img.echosound {
    max-width: 100%;
    max-height: 100%;
  }
  .navbar {
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    list-style: none;
  }
  .navbarLinks {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  .navbarLinks li {
    list-style: none;
  }

  .navbarLinks li Links {
    text-decoration: none;
    color: white;
  }
}

/* tablet  */
@media (min-width: 961px) {
}

/* Laptop */

@media (min-width: 1281px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: azure;
  }
  .navbarLinks {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
}
